<ng-container *ngIf="subCategory">
    <div class="row">
        <div class="col-lg-12" style="background-color: #e9e6e6">
            <div class="row">
                <div class="col-11 text-white text-center mx-2 rounded pt-2 pv-0 fond-weight-bold" style="background-color: #a39e9e;">
                    <h2> {{subCategory.name}}  </h2>
                </div>
            </div>
            <ng-container *ngFor="let product of subCategory.Products">
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      <p class="card-text">₾{{product.price}}</p>
                      <a [routerLink]="['/product/', product.id]" class="btn btn-primary">სრულად</a>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="notFound">
    <h1> Not found! </h1>
</ng-container>
<ng-container *ngIf="loading">
    <h1> Loading </h1>
</ng-container>

